@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;
  }

  body {
    min-height: 110vh;
    display: flex;
    flex-direction: column;
  }
}

/* @layer components {
  @media screen and (max-width: 1023px) {
    .react-colorful {
      @apply !w-full;
    }
  }
} */

@layer utilities {
  .app {
    @apply mx-auto w-full p-8 sm:max-w-[1216px];
  }
}

swiper-container {
  width: 100%;
}
swiper-container::part(container) {
  height: auto;
}

.posts_table td.cover {
  max-width: 100px;
  min-width: 100px;
}
.posts_table td.title {
  width: 100%;
}

.quotes_table td.author_avatar {
  max-width: 250px;
  min-width: 250px;
}
.quotes_table td.author {
  max-width: 150px;
  min-width: 150px;
  overflow: hidden;
}

.quotes_table td.quote {
  width: 100%;
}

td.actions {
  max-width: 150px;
  min-width: 150px;
}

.dark article#content span,
.dark article#content p {
  color: #fff !important;
}

article#content blockquote p {
  color: purple !important;
}

[cmdk-root] {
  border: none !important;
  border-radius: 0px !important;
}

/* .shad_fix {
  border: none !important;
  border-radius: 0px !important;
  outline: 0px solid red !important;
  outline-width: 0px !important;
  outline-offset: 0px !important;
} */
