@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

body {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}

.app {
  @apply mx-auto w-full p-8 sm:max-w-[1216px];
}

.ql-editor {
  direction: rtl !important;
  text-align: right !important;
}
.ql-container {
  height: 95% !important;
}
article#content p {
  font-weight: 500;
}

article#content blockquote {
  border-left: none;
  border-right: solid 2px #5e35b1;
  margin-right: 0;
  padding-right: 5px;
  padding-left: 0;
}
article#content blockquote p {
  color: #5e35b1;
}

@media screen and (max-width: 1000px) {
  .react-colorful {
    width: 100% !important;
  }
}

swiper-container {
  width: 100%;
}
swiper-container::part(container) {
  height: auto;
}

.posts_table td.cover {
  max-width: 100px;
  min-width: 100px;
}
.posts_table td.title {
  width: 100%;
}

.quotes_table td.author_avatar {
  max-width: 250px;
  min-width: 250px;
}
.quotes_table td.author {
  max-width: 150px;
  min-width: 150px;
  overflow: hidden;
}

.quotes_table td.quote {
  width: 100%;
}

td.actions {
  max-width: 150px;
  min-width: 150px;
}

.dark article#content span,
.dark article#content p {
  color: #fff !important;
}

article#content blockquote p {
  color: purple !important;
}

[cmdk-root] {
  border: none !important;
  border-radius: 0px !important;
}

/* .shad_fix {
  border: none !important;
  border-radius: 0px !important;
  outline: 0px solid red !important;
  outline-width: 0px !important;
  outline-offset: 0px !important;
} */

.muse-editor .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: right;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
