.ProseMirror .is-editor-empty:first-child::before,
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: right;
  color: hsl(var(--muted-foreground));
  pointer-events: none;
  height: 0;
}
