@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply min-h-full;
}
.app {
  @apply w-full sm:max-w-[1216px] p-8  mx-auto;
}

.shadow_md {
  box-shadow: 0px 12px 24px -6px rgba(24, 26, 42, 0.12);
}

.button_primary {
  @apply px-5 py-3 text-center text-white rounded-md bg-Primary disabled:cursor-not-allowed disabled:opacity-30;
}
.button_secondary {
  @apply px-5 py-3 text-center bg-white rounded-md text-[#696A75] border border-[#696A75];
}

.input_primary {
  @apply px-4 py-3 border rounded-md border-Secondary dark:bg-[#161513] dark:placeholder:text-white;
}

.input_primary::placeholder {
  @apply text-base font-normal;
}
.input_primary:focus {
  @apply outline-none;
}

/*  custom  */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  scrollbar-gutter: stable;
}

html.dark {
  color: #ffff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark .white_filter {
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg)
    brightness(119%) contrast(115%);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}

.ql-editor {
  direction: rtl !important;
  text-align: right !important;
}
.ql-container {
  height: 95% !important;
}
article#content p {
  font-weight: 500;
}

article#content blockquote {
  border-left: none;
  border-right: solid 2px #5e35b1;
  margin-right: 0;
  padding-right: 5px;
  padding-left: 0;
}
article#content blockquote p {
  color: #5e35b1;
}

@media screen and (max-width: 1000px) {
  .react-colorful {
    width: 100% !important;
  }
}

swiper-container {
  width: 100%;
}
